[include mainsail.cfg]
[include toolhead.cfg]
[include print-start-end.cfg]
[include KAMP_Settings.cfg]

[mcu]
canbus_uuid: 386975986f2d

[virtual_sdcard]
path: /home/dsavlin/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 350
max_accel: 15000
max_z_velocity: 18
max_z_accel: 350
square_corner_velocity: 5.0

[exclude_object]

[temperature_sensor host]
sensor_type: temperature_host

[temperature_sensor mcu]
sensor_type: temperature_mcu

#[controller_fan belowdecks]
[temperature_fan belowdecks]
pin: PB7
sensor_type: temperature_host
shutdown_speed: 1.0
max_speed: 1.0
target_temp: 25
min_speed: 0.5
min_temp: 20
max_temp: 80
control: watermark

[neopixel top]
pin: PF10
color_order: WRGB
chain_count: 2
initial_white: 1.0
initial_red: 0.0
initial_blue: 0.0
initial_green: 0.0

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_8417DB715157383837202020FF06263F-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 29 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
default_probe_method: proximity
contact_max_hotend_temperature: 180 # increase to probe at print temps
z_settling_time: 200
home_xy_position: 60, 60 # update with your safe position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: unhomed # contact will calibrate beacon on first home

[resonance_tester]
accel_chip: beacon
probe_points: 90, 90, 20

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 20, 30
mesh_max: 100, 100
zero_reference_position: 60, 60
probe_count: 5, 5

[z_tilt_ng]
z_positions:
    -22.6, -16.4
    60, 151.3
    142.6, -16.4
points:
  20, 5
  60, 80
  100, 5
extra_points:
  10, 20
  50, 75
  110, 20
speed: 200
horizontal_move_z: 5
retries: 4
retry_tolerance: 0.0075

[idle_timeout]
timeout: 3600

#[homing_override]
#axes: y
#gcode:
#  G90
#  G0 X85
#  G28 Y

[stepper_x]
##  B Stepper - Left
##  Connected to HV STEPPER 0
step_pin: PB10
dir_pin: !PB11
enable_pin: !PG0
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: 0
position_max: 125
position_endstop: 125
homing_speed: 25   #Max 100
homing_retract_dist: 30
homing_positive_dir: true
use_sensorless_homing: true

[tmc5160 stepper_x]
cs_pin: PE15
spi_bus: spi4
diag0_pin: ^!PG1
driver_SGT: 2  # -64 is most sensitive value, 63 is least sensitive
home_current: 0.7
current_change_dwell_time: 0.5
interpolate: false
run_current: 1
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_y]
##  A Stepper - Right
##  Connected to HV STEPPER 1
step_pin: PF15
dir_pin: !PF14
enable_pin: !PE9
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
position_max: 122
position_endstop: 122
homing_speed: 25   #Max 100
homing_retract_dist: 10
homing_positive_dir: true
use_sensorless_homing: true

[tmc5160 stepper_y]
cs_pin: PE11
spi_bus: spi4
diag0_pin: ^!PE10
driver_SGT: 2  # -64 is most sensitive value, 63 is least sensitive
home_current: 0.8
current_change_dwell_time: 0.5
interpolate: false
run_current: 1
sense_resistor: 0.075
stealthchop_threshold: 0

## Z0 Stepper - Front Left
##  Connected to STEPPER 0
[stepper_z]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD7
rotation_distance: 40
gear_ratio: 9:1
microsteps: 32
endstop_pin: PC3 # to be replaced with sensorless
position_endstop: -0.5
position_max: 125
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PD5
#diag_pin: ^!PD6
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
## Z1 Stepper - Rear Center
##  Connected to STEPPER 1
step_pin: PC12
dir_pin: PC11
enable_pin: !PD2
rotation_distance: 40
gear_ratio: 9:1
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PD0
#diag_pin: ^!PD1
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
## Z2 Stepper - Front Right
##  Connected to STEPPER 2
step_pin: PC9
dir_pin: !PC8
enable_pin: !PC10
rotation_distance: 40
gear_ratio: 9:1
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PA8
#diag_pin: ^!PA15
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

[heater_bed]
##  Thermistor - TH0
heater_pin: PG11
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: PA1
pullup_resistor: 2200
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 65.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 22.070
#*# pid_ki = 0.759
#*# pid_kd = 160.421
